  <ion-view view-title="">
    <ion-content>

      <div class="padding text-center">
      	<!--<img src="img/ionic.png" style="margin-top: 40px;">-->
        
        <h1 style="margin-top: 40px; margin-bottom: 40px;" class="positive">Funbit<br><i class="icon ion-ios-pulse"></i></h1>
        <button class="button button-block button-positive icon ion-social-facebook" ng-click="signIn(user)">
          Sign in with Facebook
        </button>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </div>
    </ion-content>
  </ion-view>