<ion-view view-title="Nearby Events">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mike.png">
        <h2>Marty McFly</h2>
        <p>23 min ago</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="img/delorean.jpg">
        <p>
          Let's go to a bar for drinks at 9:00pm
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-location"></i> Melbourne, Australia</a>
          <a href="#" class="subdued"><i class="icon ion-person"></i> 4 Going</a>
        </p>
      </div>
      <div class="button-bar">
          <a class="button button-positive disabled">Going</a>
      </div>    
    </div>
    
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mike.png">
        <h2>George Gy</h2>
        <p>27 min ago</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="img/delorean.jpg">
        <p>
          Let's go to a bar for drinks at 9:00pm
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-location"></i> Melbourne, Australia</a>
          <a href="#" class="subdued"> - 4 are going</a>
        </p>
      </div>
      <div class="button-bar">
          <a class="button button-positive">Go!</a>
      </div>    
    </div>
    
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mike.png">
        <h2>McDonalds</h2>
        <p>2 hr ago</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="img/delorean.jpg">
        <p>
          Let's go to a bar for drinks at 9:00pm
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-location"></i> Melbourne, Australia</a>
          <a href="#" class="subdued"> - 4 are going</a>
        </p>
      </div>
      <div class="button-bar">
          <a class="button button-positive">Go!</a>
      </div>    
    </div>
    
    
  </ion-content>
</ion-view>
